main {
	margin: 15px 10px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
	/* background-color: lightblue; */
	background-color: #FCBF49;
	color: #003049;
	/* text-align: center; */
	margin: 0.25rem;
	padding: 0.35rem;
	/* background-color: #eee; */
	/* border: 1px solid #bbb; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	padding-top: 30px;
}

.grid a {
    padding-bottom: 30px;
}

img {
	padding-top: 30px;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list section img {
    display: none;
}

header, footer {
	text-align: center;
	background-color: #003049;
	color: #ACBF40;
	width: 100%;
	padding: 15px 0;
}