#banner {
    background-color: #FCBF49;
    color: #003049;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    background-color: #003049;
    color: #FCBF49;
    width: 100%;
    font-family: "Open Sans", "Times New Roman", sans-serif;
}

header h1 {
    grid-column: 5/ 11;
    grid-row: 1 / 2;
    margin: 0;
    align-self: end;
    font-size: 1.8em;
    

}

header h2 {
    grid-column: 5/ 16;
    grid-row: 2 / 3;
    margin: 0;
}


header #facebook-logo {
    grid-column: 11 / 13;
    object-fit: cover;
    width: 100%;
    align-self: center;
    border-radius: 20px;

}

header #twitter-logo {
    grid-column: 13 / 15;
    object-fit: cover;
    width: 100%;
    align-self: center;
    border-radius: 20px;

}

header #site-logo {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    border-radius: 50%;
    object-fit: cover;
    width: 80%;
    align-self: center;
    margin-left: 10px;
}

header button {
    grid-column: 15 / 16;
    background-color: #003049;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #FCBF49;
    margin: .5rem;
    padding: .75rem;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

header p{
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    margin: .5rem;
    padding: .5rem;
    background-color: #FCBF49;
    color: #003049;
    text-align: center;
    font-size: 18px;
}

header nav {
    grid-column: 1 / -1;
    background-color: #003049;
    color: #FCBF49;
}


nav ul {
    display: none;
}

nav.open ul {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #003049;
}

nav ul li {
    list-style-type: none;
    padding: .5rem;
    width: calc(100% - 1.5rem);
    text-align: center;
  }

nav ul li a:hover {
    background-color: #FCBF49;
    color: #003049;
    
}

nav ul li a {
    display: block;
    padding: .5rem;
    align-self: center;
    text-decoration: none;
    color: #FCBF49;
    background-color: #003049;
    font-size: 18px;
    
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

main {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    margin: 10px;
    font-size: 18px;
    font-family: Montserrat, Arial, sans-serif;
}

main div {
    background-color: #FCBF49;
    color: #003049;
    padding: 10px;
    text-align: center;
}

main img {
    width: 100%;
}

main div p {
    padding-left: 10px;
}

#website-title {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    padding: 10px;
    color: #FCBF49;
    font-size: 1.2em;
    /* text-align: right;
    padding-top: 400px; */
}

#hero {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

#join-chamber-button {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #003049;
    text-align: center;
    margin-top: 500px;
    padding: 10px;
    width: 150px;
    justify-self: right;
    margin-right: 10px;
    border-radius: 10px;
    
}

#join-chamber-button a {
    text-decoration: none;
    color: #FCBF49;
}

#weather hr {
    margin-top: -10px;
}

#wind-speed1 {
    margin-top: 15px;
    margin-bottom: 5px;
}

#wind-chill1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

main div:nth-child(6) {
    background-color: #FCBF49;
    display: none;  
}

#spotlight-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    row-gap: 5px;
}

#spotlight1 {
    background-color: #555;
    grid-column: 1/2;
}
#spotlight2 {
    background-color: #555;
}
#spotlight3 {
    display: none;
}

footer {
    background-color: #003049;
    color: #FCBF49;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
    font-family: Montserrat, Arial, sans-serif;
}

#footer-logo {
    padding-top: 15px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}

#footer2 {
    display: none;
}