#banner {
    background-color: #FCBF49;
    color: #003049;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 0;
}

/* --------------------------- HEADER --------------------------------- */

header {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    background-color: #003049;
    color: #FCBF49;
    width: 100%;
    font-family: "Open Sans", "Times New Roman", sans-serif;
}

header h1 {
    grid-column: 5/ 11;
    grid-row: 1 / 2;
    margin: 0;
    align-self: end;
    font-size: 1.8em;
}

header h2 {
    grid-column: 5/ 16;
    grid-row: 2 / 3;
    margin: 0;
}


/* header #facebook-logo {
    grid-column: 11 / 13;
    object-fit: cover;
    width: 100%;
    align-self: center;
    border-radius: 200px;
} */

header #facebook-logo {
    grid-column: 11 / 13;
    /* margin-top: 7px; */
}

#facebook-logo1 {
    object-fit: cover;
    width: 100%;
    align-self: center;
    border-radius: 200px;
    margin-top: 10px;
    /* margin-left: 7px; */
}

/* header #twitter-logo {
    grid-column: 13 / 15;
    object-fit: cover;
    width: 100%;
    align-self: center;
    border-radius: 20px;
} */

header #twitter-logo {
    grid-column: 13 / 15;
    /* margin-top: 7px; */
}

#twitter-logo1 {
    object-fit: cover;
    width: 100%;
    align-self: center;
    border-radius: 20px;
    margin-top: 10px;
    /* margin-left: 7px; */
}

/* #site-logo {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    border-radius: 50%;
    object-fit: cover;
    width: 80%;
    align-self: center;
    margin-left: 10px;
} */

#site-logo {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    margin-left: 10px;
    margin-top: 15px;
}

#site-logo img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    align-self: center;
    justify-self: center;
}

header button {
    grid-column: 15 / 16;
    background-color: #003049;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #FCBF49;
    margin: .5rem;
    padding: .75rem;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

header p{
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    margin: .5rem;
    padding: .5rem;
    background-color: #FCBF49;
    color: #003049;
    text-align: center;
    font-size: 18px;
}

header nav {
    grid-column: 1 / -1;
    background-color: #003049;
    color: #FCBF49;
}

/* ------------------------- NAVIGATION --------------------------- */

nav ul {
    display: none;
}

nav.open ul {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #003049;
}

nav ul li {
    list-style-type: none;
    padding: .5rem;
    width: calc(100% - 1.5rem);
    text-align: center;
  }

nav ul li a:hover {
    background-color: #FCBF49;
    color: #003049;
    
}

nav ul li a {
    display: block;
    padding: .5rem;
    align-self: center;
    text-decoration: none;
    color: #FCBF49;
    background-color: #003049;
    font-size: 18px;
    
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

#main-grid {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    margin: 10px;
    font-size: 18px;
    font-family: Montserrat, Arial, sans-serif;
}

#main-grid div {
    background-color: #FCBF49;
    color: #003049;
    padding: 10px;
    text-align: center;
}

#main-grid img {
    width: 100%;
    /* height: auto; */
    
}

main div p {
    padding-left: 10px;
}

#website-title {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    padding: 10px;
    color: #FCBF49;
    font-size: 1.2em;
    /* text-align: right;
    padding-top: 400px; */
}

/* ------------------------------ INDEX PAGE -------------------------- */

#hero {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

#join-chamber-button {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #003049;
    text-align: center;
    margin-top: 500px;
    padding: 10px;
    width: 150px;
    justify-self: right;
    margin-right: 10px;
    border-radius: 10px;
    
}

#join-chamber-button a {
    text-decoration: none;
    color: #FCBF49;
}

#weather hr {
    margin-top: -10px;
}

#wind-speed1 {
    margin-top: 15px;
    margin-bottom: 5px;
}

#wind-chill1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#main-grid div:nth-child(6) {
    background-color: #FCBF49;
    display: none;  
}

#spotlight-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    row-gap: 5px;
}

#spotlight1 {
    /* background-color: #555; */
    grid-column: 1/2;
    /* width: 100%; */
}
/* #spotlight1 img {
    width: 100%;
    height: 100%;
} */
/* #spotlight2 { */
    /* background-color: #555; */
    /* width: 100%; */
/* } */
/* #spotlight3 {
    display: none;
} */
/* .sl-card { */
    /* padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0; */
/* } */

.sl-card > p {
    margin: 0.1rem;
}
.sl-card:nth-child(3) {
    display: none;
}

.sl-name {
    margin-top: 0;
}

/* .sl-card > img {
    width: 100%;
    height: 94px;
} */

.sl-logo {
    /* max-width: auto; */
    height: 94px;
    object-fit: contain;
}

#weather-icon {
	width: 50px;
}

#windchill-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
    /* margin-top: -50px; */
    /* margin-bottom: -50px; */
    margin-top: -20px;
    margin-bottom: -20px;
}
#windchill-grid p {
    align-self: center;
    text-align: left;
    /* padding: 0; */
}
#windchill-grid figure img {
    align-self: center;
    text-align: right;
    padding: 0;
    /* width: 50px; */
}




/* ------------------------------ DISCOVER PAGE -------------------------- */

#discover {
    display: block;
    max-width: 450px;
    margin: 0 10px;
    align-self: center;
}

#discover figure {
    margin: 20px 0;
    /* padding: 15px; */
    /* background-color: #FCBF49; */
}

#discover img {
    max-width: 100%;
}

#discover img:hover {
    border-radius: 30px 30px 0 0;
}

#discover figcaption {
    padding: 15px;
    font-size: 18px;
    margin-top: -5px;
    background-color: #FCBF49;
    color: #003049;
}

#statistic-information {
    background-color: #FCBF49;
    color: #003049;
    font-size: 19px;
    padding: 15px;
}

#statistic-information h1, #number-visits {
    text-align: center;
}

/* ------------------------------ JOIN PAGE -------------------------- */

/* #form {
    display: block;
    font-size: 16px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
} */

#form {
    display: block;
    margin: 30px 15px;
    /* width: 100%; */
    max-width: 450px;
    background: white;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 3px solid #FCBF49;
}

#form h1 {
    color: #2691d9;
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #2691d9;
}

#form form {
    padding: 0 40px;
    box-sizing: border-box;
    /* margin: 2rem 0; */
    /* border: 3px solid #FCBF49;
    border-radius: 10px; */
}


form label.top, form p {
    display: block;
    padding-top: 1rem;
    color: #2691d9;
    font-size: 18px;
}

form label.top input, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 2px #2691d9;
    border-radius: 4px;
    /* padding: 0.5rem; */
    padding-left: 0.5rem;
    /* color: #555; */
    color: black;
    width: 100%;
    max-width: 20rem;
    height: 44px;
    background-color: rgba(0,0,0,0.1);
    font-size: 18px;
}

form label.top textarea {
    /* width: 100%; */
    height: 100px;
}

.color {
    color: red;
}

form label.sbs {
    display: block;
    font-size: 16px;
    margin: .75rem 10px;
    font-size: 17px;
}

form fieldset {
    margin: 30px 0 15px 0;
    border: 2px solid #2691d9;
    border-radius: 10px;
    padding: .5rem 15px;
    max-width: 20rem;
    font-size: 16px;
}

form label.sbs input {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

form legend {
    color: #2691d9;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 18px;
}

#form div ul {
    margin-left: -10px;
    background-color: white;
    font-size: 1rem;
}

#form div ul li{
    font-size: 17px;
    padding-bottom: 5px;
}

#form div ul li span{
    color: #2691d9;
}

.membership-description {
    display: block;
    margin-top: 15px;
    background-color: white;
    color: black;
    text-align: left;
    padding: 10px 5px;
    font-size: 17px;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #003049;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 15px;
    margin-top: 15px;
}

input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
}

form label.top input {
    border: #2691d9 solid 2px;
}

/* form label.top input:focus:valid {
    border: 2px solid red;
}

form label.top input:focus:invalid {
    border: red solid 2px;
} */

/* ----------------------------- DIRECTORY PAGE ------------------- */
#directory-main {
    margin: 15px 10px;
    font-size: 18px;
}

.menu {
    margin: 15px 30px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    /* align-items: center; */
}

.grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCBF49;
    /* color: #003049; */
    margin: 0.1rem;
	padding: 0.35rem;
}

.grid div > * {
    margin: 0.1rem;
}

.grid div > img {
    /* width: 230px; */
    height: 94px;
}

.grid div p:nth-child(2) {
    display: none;
}

.grid div p {
    padding: 0;
    color: #003049;
}

.list {
    display: block;
    /* flex-direction: column; */
}

.list div {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0.25rem;
    /* background-color: #FCBF49; */
}

.list div:nth-child(odd) {
    background-color: #FCBF49;
    color: #003049;
}

.list div > * {
    margin: 5px 1rem;
}

.list div img {
    display: none;
}

/* .list section p {

} */

.list div a {
    /* text-align: center;
    align-self: center; */
    /* text-decoration: none; */
    color: #003049;
}

/* ------------------------------ CONTACT PAGE -------------------- */

#contact-container {
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 2px solid #2691d9;
}

#headquarters {
    margin-left: 30px;
}
.contact-info {
    margin-left: 30px;
}

.contact-info > p {
    margin: 0.1rem;
}

#phone, #email {
    margin-top: 15px;
}

#phone, #email, #headquarters, #form-title {
    color: #2691d9;
}

#form-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

/* ------------------------------ FOOTER -------------------------- */

footer {
    background-color: #003049;
    color: #FCBF49;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
    font-family: Montserrat, Arial, sans-serif;
}

#footer-logo {
    padding-top: 15px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}

#footer2 {
    display: none;
}

#location {
    color: #FCBF49;
    text-decoration: none;
}